<!DOCTYPE html>
<html lang="fr">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
  <title>A.I de révision</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  <main class="main-container">
    <header class="header">
      <h1 class="header-title">Mon A.I.de mémoire</h1>
      <button type="button" class="darkbutton" id="darkbutton">
        <i class="fa fa-rocket"></i>
      </button>
    </header>
    <section id="messages-container" class="messages-container">
      <div class="message message-ai">
        Je suis ton AIssistant de cours personnel ! Pose-moi une question sur
        le cours et je te répondrai.
      </div>
    </section>
    <form id="prompt-form" class="prompt-container">
      <label for="prompt" class="prompt-label">Message</label>

      <input type="text" id="prompt" name="prompt" class="prompt-input" autocomplete="off" />

      <button type="submit" class="button" id="submit-button">Envoyer</button>

      <button type="button" class="button" id="question-button">
        Pose-moi une question !
      </button>
      <button type="button" class="button" id="reset-button">
        <i class="fa fa-refresh"></i>
      </button>
    </form>
    <div id="modal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>PARAMETRES</p>
        <label for="choix-menu">Sélectionnez un thème :</label>
        <select class="choix-menu" id="choix-menu" name="choix-menu">
          <option value="lightmode">Clair</option>
          <option value="darkmode">Sombre</option>
          <option value="barbie">Barbie</option>
          <option value="custom">Custom</option>
        </select>
        <form>
          <input type="file" id="file" class="upload" name="newfile">
          <input type="submit" id="submit-file">
        </form>
        <label class="labelcolor" for="couleur-fond" id="labelcolor1">Arrière plan :</label>
        <input class="colorpicker" type="color" id="colorpicker1" name="couleur-fond" value="#ff0000">
        <label class="labelcolor" for="couleur-fond" id="labelcolor2"> :Texte</label>
        <input class="colorpicker" type="color" id="colorpicker2" name="couleur-fond" value="#ff0000">
      </div>
    </div>

    <script src="{{ url_for('static', filename='prompt.js') }}"></script>
  </main>
</body>

</html>